---
name: Release

"on":
  release:
    types:
      - published

jobs:
  release_to_pypi:
    name: Release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pywaze/
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Search and replace version
        run: |
          VERSION="${TAG_NAME//v/}"
          sed -i "s/1\.0+versionplaceholder\.1/$VERSION/" pyproject.toml
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}
      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      - name: Build
        run: uv build
      - name: Publish package distributions to PyPI
        run: uv publish
